<link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Indie+Flower|Lobster|Macondo+Swash+Caps|Pacifico&display=swap" rel="stylesheet">
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    var oDoc, sDefTxt;
    var iPositionActual = 0;
    function initDoc() {
        oDoc = document.getElementById("textBox");
        sDefTxt = oDoc.innerHTML;
        if (document.compForm.switchMode.checked) { setDocMode(true); }
    }
    function formatDoc(sCmd, sValue) {
        if (validateMode()) { document.execCommand(sCmd, false, sValue); oDoc.focus(); }
    }
    function validateMode() {
        if (!document.compForm.switchMode.checked) { return true; }
        alert("Uncheck \"Show HTML\".");
        oDoc.focus();
        return false;
    }
    function setDocMode(bToSource) {
        var oContent;
        if (bToSource) {
            oContent = document.createTextNode(oDoc.innerHTML);
            oDoc.innerHTML = "";
            var oPre = document.createElement("pre");
            oDoc.contentEditable = false;
            oPre.id = "sourceText";
            oPre.contentEditable = true;
            oPre.appendChild(oContent);
            oDoc.appendChild(oPre);
        } else {
            if (document.all) {
                oDoc.innerHTML = oDoc.innerText;
            } else {
                oContent = document.createRange();
                oContent.selectNodeContents(oDoc.firstChild);
                oDoc.innerHTML = oContent.toString();
            }
            oDoc.contentEditable = true;
        }
        oDoc.focus();
    }
    function printDoc() {
        if (!validateMode()) { return; }
        var oPrntWin = window.open("", "_blank", "width=450,height=470,left=400,top=100,menubar=yes,toolbar=no,location=no,scrollbars=yes");
        oPrntWin.document.open();
        oPrntWin.document.write("<!doctype html><html><head><title>Print<\/title><\/head><body onload=\"print();\">" + oDoc.innerHTML + "<\/body><\/html>");
        oPrntWin.document.close();
    }
    function insertImage() {
        formatDoc("InsertImage", document.getElementById("dirImage").value);
    }
    function fnAgregarTabla() {
        var iCol = parseInt($("#tablaColumnas").val());
        var iFil = parseInt($("#tablaFilas").val());
        console.log("Columnas:" + iCol);
        console.log("Filas:" + iFil);
        var sHtml = "";
        sHtml = "<table class='table table-bordered'>";
        for (var i = 0; i < iFil; i++) {
            sHtml += "<tr>";
            for (var j = 0; j < iCol; j++) {
                sHtml += "<td></td>";
            }
            sHtml += "</tr>";
        }
        sHtml += "</table>";
        setCaretToPos(oDoc, iPositionActual);
        document.execCommand("insertHTML", false, sHtml);
        $('#ModalTabla').modal('toggle');
    }
    function fnAgregarVideo() {
        var sHtml = '<div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" src="https://www.youtube.com/embed/' + document.getElementById("txtIdVideo").value + '?rel=0" allowfullscreen></iframe></div>';
        setCaretToPos(oDoc, iPositionActual);
        oDoc.focus();
        document.execCommand("insertHTML", false, sHtml);
        $('#ModalYoutube').modal('toggle');
    }
    function fnAgregarCodigo() {
        var sHtml = '<pre class="prettyprint linenums">' + document.getElementById("textAreaCodigo").value + '</pre>';
        setCaretToPos(oDoc, iPositionActual);
        oDoc.focus();
        document.execCommand("insertHTML", false, sHtml);
        $('#ModalCodigo').modal('toggle');
        PR.prettyPrint();
    }
    function fnObtenerPos() {
        iPositionActual = oDoc.getCursorPosition();
    }
    function fnRadioTamano() {
        if ($("input[name='rTamano']:checked").val() == "Valor") {
            document.getElementById("txtAnchuraImagen").disabled = false;
        }
        else {
            document.getElementById("txtAnchuraImagen").disabled = true;
            document.getElementById("txtAnchuraImagen").focus();
        }
    }
    $(document).ready(function () {
        document.getElementById("txtAnchuraImagen").disabled = true;
        initDoc();
    });
</script>

<h1 class="text-center">WYSIWYG por Héctor Funes</h1>
<hr />



<form name="compForm" method="post" action="sample.php" onsubmit="if(validateMode()){this.myDoc.value=oDoc.innerHTML;return true;}return false;">
    <input type="hidden" name="myDoc">
    <div id="toolBar1" class="row" style="margin: 0px;">
        <div class="input-group" style="max-width:210px; margin-right:5px;">
            <div class="input-group-append">
                <span class="input-group-text">Formato:</span>
            </div>
            <select onchange="formatDoc('formatblock',this[this.selectedIndex].value);" class="form-control">
                <option value="p" selected>Normal</option>
                <option value="h1">Titulo</option>
                <option value="h2">SubTitulo</option>
            </select>
        </div>
        <div class="input-group" style="max-width:300px; margin-right:5px;">
            <div class="input-group-append">
                <span class="input-group-text">Fuente:</span>
            </div>
            <select onchange="formatDoc('fontname',this[this.selectedIndex].value);this.selectedIndex=0;" class="form-control">
                <option class="heading" selected>- font -</option>
                <option>Arial</option>
                <option>Arial Black</option>
                <option>Courier New</option>
                <option>Times New Roman</option>
                <option>Lobster</option>
                <option>Baloo Bhai</option>
                <option>Macondo Swash Caps</option>
                <option>Indie Flower</option>
                <option>Pacifico</option>
            </select>
        </div>
        <div class="input-group" style="max-width:240px; margin-right:5px;">
            <div class="input-group-append">
                <span class="input-group-text">Tamaño:</span>
            </div>
            <select onchange="formatDoc('fontsize',this[this.selectedIndex].value);" class="form-control">
                <option value="1">Very small</option>
                <option value="2">A bit small</option>
                <option value="3" selected>Normal</option>
                <option value="4">Medium-large</option>
                <option value="5">Big</option>
                <option value="6">Very big</option>
                <option value="7">Maximum</option>
            </select>
        </div>
        <div class="input-group" style="max-width:105px; margin-right:5px;">
            <div class="input-group-append">
                <span class="input-group-text">Color:</span>
            </div>
            <input type="color" value="black" onchange="formatDoc('forecolor',this.value);this.selectedIndex=0;" class="form-control" style="padding: 0;" />
        </div>
        <div class="input-group" style="max-width:110px; margin-right:5px;">
            <div class="input-group-append">
                <span class="input-group-text">Fondo:</span>
            </div>
            <input type="color" value="#fff" onchange="formatDoc('backcolor',this.value);this.selectedIndex=0;" class="form-control" style="padding: 0;" />
        </div>
    </div>
    <div class="row mt-1 ml-0 mr-0 mb-1">
        <div class="btn-group">
            <button class="btn btn-outline-dark" title="Imprimir" onclick="printDoc();" type="button">
                <i class="fa fa-print" aria-hidden="true"></i>
            </button>
        </div>
        <div class="btn-group ml-1">
            <button class="btn btn-outline-dark" title="Borrar Todo" onclick="if(validateMode()&&confirm('Are you sure?')){oDoc.innerHTML=sDefTxt};" type="button">
                <i class="fa fa-eraser" aria-hidden="true"></i>
            </button>
            <button class="btn btn-outline-dark" title="Cortar" onclick="formatDoc('cut');" type="button">
                <i class="fa fa-cut" aria-hidden="true"></i>
            </button>
            <button class="btn btn-outline-dark" title="Copiar" onclick="formatDoc('copy');" type="button">
                <i class="fa fa-copy" aria-hidden="true"></i>
            </button>
            <button class="btn btn-outline-dark" title="Pegar" onclick="formatDoc('paste');" type="button">
                <i class="fa fa-paste" aria-hidden="true"></i>
            </button>
        </div>
        <div class="btn-group ml-1">
            <button class="btn btn-outline-dark" title="Deshacer" onclick="formatDoc('undo');" type="button">
                <i class="fa fa-undo" aria-hidden="true"></i>
            </button>
            <button class="btn btn-outline-dark" title="Regresar" onclick="formatDoc('redo');" type="button">
                <i class="fa fa-repeat" aria-hidden="true"></i>
            </button>
            <button class="btn btn-outline-dark" title="Quitar Formato" onclick="formatDoc('removeFormat');" type="button">
                <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
        </div>
        <div class="btn-group ml-1">
            <button class="btn btn-outline-dark" title="Negrita" onclick="formatDoc('bold');" type="button">
                <i class="fa fa-bold" aria-hidden="true"></i>
            </button>
            <button class="btn btn-outline-dark" title="Italica" onclick="formatDoc('italic');" type="button">
                <i class="fa fa-italic" aria-hidden="true"></i>
            </button>
            <button class="btn btn-outline-dark" title="Subrayado" onclick="formatDoc('underline');" type="button">
                <i class="fa fa-underline" aria-hidden="true"></i>
            </button>
        </div>
        <div class="btn-group ml-1">
            <button class="btn btn-outline-dark" title="Justificar a la izquierda" onclick="formatDoc('justifyleft');" type="button">
                <i class="fa fa-align-left" aria-hidden="true"></i>
            </button>
            <button class="btn btn-outline-dark" title="Centrar" onclick="formatDoc('justifycenter');" type="button">
                <i class="fa fa-align-center" aria-hidden="true"></i>
            </button>
            <button class="btn btn-outline-dark" title="Justificar a la derecha" onclick="formatDoc('justifyright');" type="button">
                <i class="fa fa-align-right" aria-hidden="true"></i>
            </button>
            <button class="btn btn-outline-dark" title="Justificar" onclick="formatDoc('justifyFull');" type="button">
                <i class="fa fa-align-justify" aria-hidden="true"></i>
            </button>
        </div>
        <div class="btn-group ml-1">
            <button class="btn btn-outline-dark" title="Insertar lista ordenada" onclick="formatDoc('insertorderedlist');" type="button">
                <i class="fa fa-list-ol" aria-hidden="true"></i>
            </button>
            <button class="btn btn-outline-dark" title="Insertar lista desordenada" onclick="formatDoc('insertunorderedlist');" type="button">
                <i class="fa fa-list-ul" aria-hidden="true"></i>
            </button>
        </div>
        <div class="btn-group ml-1">
            <button class="btn btn-outline-dark" title="Añadir sangria" onclick="formatDoc('outdent');" type="button">
                <i class="fa fa-outdent" aria-hidden="true"></i>
            </button>
            <button class="btn btn-outline-dark" title="Quitar sangria" onclick="formatDoc('indent');" type="button">
                <i class="fa fa-indent" aria-hidden="true"></i>
            </button>
        </div>
        <div class="btn-group ml-1">
            <button class="btn btn-outline-dark" title="Agregar link" onclick="var sLnk=prompt('Write the URL here','http:\/\/');if(sLnk&&sLnk!=''&&sLnk!='http://'){formatDoc('createlink',sLnk)}" type="button">
                <i class="fa fa-link" aria-hidden="true"></i>
            </button>
            <button class="btn btn-outline-dark" title="Quitar link" onclick="formatDoc('unlink');" type="button">
                <i class="fa fa-unlink" aria-hidden="true"></i>
            </button>
        </div>
        <div class="btn-group ml-1">
            <button type="button" class="btn btn-outline-dark" title="Insertar Tabla" data-toggle="modal" data-target="#ModalTabla" onclick="fnObtenerPos();">
                <i class="fa fa-table" aria-hidden="true"></i>
            </button>
            <button class="btn btn-outline-dark" title="Insertar imagen" data-toggle="modal" data-target="#ModalImagen" type="button" onclick="fnObtenerPos();">
                <i class="fa fa-image" aria-hidden="true"></i>
            </button>
            <button class="btn btn-outline-dark" title="Insertar video youtube" data-toggle="modal" data-target="#ModalYoutube" type="button" onclick="fnObtenerPos();">
                <i class="fa fa-youtube" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-outline-dark" title="Insertar codigo" data-toggle="modal" data-target="#ModalCodigo" onclick="fnObtenerPos();">
                <i class="fa fa-code" aria-hidden="true"></i>
            </button>
        </div>
    </div>

    <div id="textBox" contenteditable="true"><p style="font-family: 'Lobster', cursive;">Lorem ipsum</p></div>
    <p id="editMode"><input type="checkbox" name="switchMode" id="switchBox" onchange="setDocMode(this.checked);" /> <label for="switchBox">Show HTML</label></p>
    @*<p><input type="submit" value="Send" /></p>*@
</form>

<div class="modal fade" id="ModalCodigo" tabindex="-1" role="dialog" aria-labelledby="ModalCodigoTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalCodigoTitle">Insertar Codigo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <textarea rows="12" id="textAreaCodigo" style="width: 100%;"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" onclick="fnAgregarCodigo();">Agregar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalYoutube" tabindex="-1" role="dialog" aria-labelledby="ModalYoutubeTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalYoutubeTitle">Insertar Video de Youtube</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-4 text-right font-weight-bold">Id Video:</div>
                    <div class="col-8">
                        <input type="text" value="4" class="form-control" id="txtIdVideo" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" onclick="fnAgregarVideo();">Agregar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalTabla" tabindex="-1" role="dialog" aria-labelledby="ModalTablaTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalTablaTitle">Insertar Tabla</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-4 text-right font-weight-bold">Columnas:</div>
                    <div class="col-8">
                        <input type="text" value="4" class="form-control" id="tablaColumnas" />
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-4 text-right font-weight-bold">Filas:</div>
                    <div class="col-8">
                        <input type="text" value="4" class="form-control" id="tablaFilas" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" onclick="fnAgregarTabla();">Agregar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalImagen" tabindex="-1" role="dialog" aria-labelledby="ModalImagenTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="min-width: 720px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Insertar Imagen</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="uploader">
                    <div class="row">
                        <div class="col-4 text-right font-weight-bold">Subir Imagen:</div>
                        <div class="col-8">
                            <input id="fileInput" type="file" multiple>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-4"></div>
                        <div class="col-8">
                            <input type="submit" value="Subir Archivo" class="btn btn-dark" />
                        </div>
                    </div>
                    <hr />
                    <div class="row mt-2">
                        <div class="col-4 text-right font-weight-bold">URL Imagen:</div>
                        <div class="col-8">
                            <input type="text" id="txtURLImgen" class="form-control">
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-4"></div>
                        <div class="col-8">
                            <input type="button" value="Insertar" class="btn btn-dark" onclick="fnInsertarImagenURL();" />
                        </div>
                    </div>
                    <hr />
                    <div class="row mt-2 justify-content-center">
                        <div class="col-12 text-center font-weight-bold">Ultimas subidas <br /> Seleccione para insertar</div>
                        @foreach (string item in ViewBag.UltimasSubidas)
                        {
                            string sImagen = item.Replace(Server.MapPath("~/Imagenes"), "").Remove(0, 1);
                            <div class="col-2 align-items-center">
                                <img src="~/Imagenes/@sImagen" class="m-1 rounded" style="max-width: 95px; max-height: 95px; border: 1px solid black;" onclick="fnInsertarImagen('/Imagenes/@sImagen')" />
                            </div>
                        }
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-4 text-right font-weight-bold">Titulo:</div>
                        <div class="col-8">
                            <input type="text" name="txtTamanoImagen" id="txtTituloImagen" class="form-control" value="" />
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-4 text-right font-weight-bold">Tamaño:</div>
                        <div class="col-8">
                            <input type="radio" name="rTamano" id="rTamano" onclick="fnRadioTamano();" value="100" checked /> 100% de anchura.<br />
                            <input type="radio" name="rTamano" id="rTamano" onclick="fnRadioTamano();" value="Auto" /> anchura automatica.<br />
                            <input type="radio" name="rTamano" id="rTamano" onclick="fnRadioTamano();" value="Valor" /> anchura manual. <input type="number" name="txtAnchuraImagen" max="100" min="0" id="txtAnchuraImagen" class="form-control" placeholder="% de anchura" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('uploader').onsubmit = function () {
        var formdata = new FormData(); //FormData object
        var fileInput = document.getElementById('fileInput');
        //Iterating through each files selected in fileInput
        for (i = 0; i < fileInput.files.length; i++) {
            //Appending each file to FormData object
            formdata.append(fileInput.files[i].name, fileInput.files[i]);
        }
        //Creating an XMLHttpRequest and sending
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/Home/Upload');
        xhr.send(formdata);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                fnInsertarImagen("/Imagenes/" + JSON.parse(xhr.responseText));
            }
        }
        return false;
    }
    function fnInsertarImagen(sImagen) {
        var sValor = $("input[name='rTamano']:checked").val();
        var sStyle = " style='max-width: ";
        if (sValor == "100")
            sStyle += " 100%;";
        if (sValor == "Auto")
            sStyle += " Auto;";
        if (sValor == "Valor")
            sStyle += document.getElementById("txtAnchuraImagen").value + "%;";
        sStyle += "' ";
        var sHtml = "<img title='" + document.getElementById("txtTituloImagen").value + "' src='" + sImagen + "' " + sStyle + ">";
        setCaretToPos(oDoc, iPositionActual);
        document.execCommand("insertHTML", false, sHtml);
        $('#ModalImagen').modal('toggle');
    }
    function fnInsertarImagenURL() {
        fnInsertarImagen(document.getElementById("txtURLImgen").value);
    }
</script>